<h2>Success! Your Company Has Been Created.</h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Location:</b>
  <%= @company.location %>
</p>

<p>
  <b>Market:</b>
  <%= @company.market %>
</p>

<p>
  <b>Financing stage:</b>
  <%= @company.financing_stage %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %>
<br>
<br>
<%= link_to 'Add Investors', investors_path %>
