<h1><%= @company.name %></h1>


<div class="row well">
  <div class="col-md-6 text-center">
    <p>
      <b>Name:</b>
      <%= @company.name %>
    </p>

    <p>
      <b>Location:</b>
      <%= @company.location %>
    </p>    
  </div>
  <div class="col-md-6 text-center">
    <p>
      <b>Market:</b>
      <%= @company.market %>
    </p>
    <p>
      <b>Financing stage:</b>
      <%= @company.financing_stage %>
    </p>  
  </div>
  <%= link_to 'Edit Company Information', edit_company_path(@company), class: "pull-right" %>
</div>

<h4>Investor Summary</h4>
<div class="row well">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">Total Investors</div>
      <div class="panel-body text-center">
        <%= @company.investors.count %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading text-center">Committed Investors</div>
      <div class="panel-body text-center">
        <%= @company.investors.where(investment_status: "Yes").count %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading text-center">Maybe Investors</div>
      <div class="panel-body text-center">
        <%= @company.investors.where(investment_status: "Maybe").count %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-danger">
      <div class="panel-heading text-center">Rejected Investors</div>
      <div class="panel-body text-center">
        <%= @company.investors.where(investment_status: "No").count %>
      </div>
    </div>
  </div>
</div>
<br>
<h4>Investor Profiles</h4>
<div class="row">
<% @investors.each do |investor| %>
  <div class="well col-md-3">
    <p><%= investor.name %></p>
    <p><%= investor.email_address %></p>
    <p><%= investor.phone_number %></p>
    <p><%= investor.job_title + ", " + investor.company_name %></p>
    <%= link_to investor.company_name, company_url %>
  </div>
<% end %>
</div>
<hr>
<hr>
<br>
<div class="col-md-6 col-md-offset-3">
<%= link_to 'Add New Investor', new_company_investor_path(@company), class: "btn btn-primary btn-lg center-block" %>
</div>